@page

@{
    ViewData["Title"] = "Paginação";
}

@functions{
    bool isFiltered = false;
    }


<body>

    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        
        @Html.AntiForgeryToken()

        <div class="container">
            <p class="h1 my-5">Paginação</p>

            <div>
                Exibindo
                <span id="span-infoPaginacaoInicio" class="text-primary"></span>
                <span id="span-infoPaginacaoFim" class="text-primary"></span>
                de
                <span id="span-infoTotalRegistros"></span>
                registros
            </div>

            <div class="card mt-2">
                <div class='p-2'>
                        <div class="d-flex justify-content-between mt-2">
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-auto-close="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="px-2">
                                        <label for="valorInicio">De</label>
                                        <input type="text" id="valorInicio" name="valorInicio" class="form-control form-control-sm" />

                                        <label for="valorFim">Até</label>
                                        <input type="text" id="valorFim" name="valorFim" class="form-control form-control-sm" />

                                    </div>
                                </div>
                            </div>

                            <div>
                                <button type="button" name="filtrar" id="filtrar" class="btn btn-sm btn-outline-secondary">Filtrar</button>
                                <button type="button" name="limpar" id="limpar" class="btn btn-sm btn-primary">Limpar</button>
                            </div>
                        </div>
                    <div class="d-flex gap-2 mt-2">
                        <div class="flex-grow-1">
                            <input type="text" name="pesquisa" id="pesquisa" class="form-control" placeholder="Buscar item por código ou nome" />
                        </div>
                        <div class="w-auto">
                            <select id="quantidadePorPagina" name="quantidadePorPagina" class="form-select">
                                <option value="10">10 por página</option>
                                <option value="20">20 por página</option>
                                <option value="30">30 por página</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="resultado"></div>
                <div class="card-footer">
                    <div id="paginacao" class="d-flex gap-4 justify-content-center align-items-center">
                        <div>
                            <button type="button" id="btn-paginacaoPrimeiro" class="btn btn-outline-secondary js-mudarPagina" title="Ir para o primeiro" data-acao="PRIMEIRO"><<</button>
                        </div>
                        <div>
                            <button type="button" id="btn-paginacaoAnterior" class="btn btn-outline-secondary js-mudarPagina" title="Anterior" data-acao="ANTERIOR"><</button>
                        </div>
                        <div>
                            Página
                        </div>
                        <div>
                            <select class="form-select js-mudarPagina" name="pagina" id="pagina"></select>
                        </div>
                        <div>
                            de <span id="span-infoQuantidadeDePaginas"></span>
                        </div>
                        <div>
                            <button type="button" id="btn-paginacaoProximo" class="btn btn-outline-secondary js-mudarPagina" title="Próximo" data-acao="PROXIMO">></button>
                        </div>
                        <div>
                            <button type="button" id="btn-paginacaoUltimo" class="btn btn-outline-secondary js-mudarPagina" title="Ir para o último" data-acao="ULTIMO">>></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        var isFiltered = false;

        function getTextoFiltro() {
            if (isFiltered) {
                return '<span class="text-primary">•</span> Valor';
            } else {
                return "Valor";
            }
        }

        function consultarItens() {
            var resultado = document.querySelector('.resultado');

            // Se for mantido, o scroll da página será resetado devido à mudança de tamanho
            // resultado.innerHTML = '';

            document.getElementById("dropdownMenuButton").innerHTML = getTextoFiltro();

            // Quantidade de registros por página selecionado no select
            let quantidadePorPagina = document.form1.quantidadePorPagina.value;

            // Página atual
            let pagina = document.form1.pagina.value;

            // Se foi feita alguma pesquisa
            let pesquisa = document.form1.pesquisa.value;

            // Filtro de valor início
            let valorInicio = document.form1.valorInicio.value;

            // Filtro de valor fim
            let valorFim = document.form1.valorFim.value;


            // Envia dados para a AuxPaginacao para que seja feita a consulta
            $.ajax({
                type: "POST",
                url: "/AreaRestrita/AuxPaginacao",
                headers: {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: {
                    quantidadePorPagina: quantidadePorPagina,
                    pagina: pagina,
                    pesquisa: pesquisa,
                    valorInicio: valorInicio,
                    valorFim: valorFim
                },
                success: function (res) {
                    resultado.innerHTML = res;

                    // Total de registros encontrados com base nos filtros
                    const totalRegistros = parseInt(resultado.querySelector("#totalRegistros").innerText);

                    atualizarPaginacao(pagina, totalRegistros);
                },
                error: function (xhr) {
                    body.innerHTML = xhr.responseText;
                },
                finally: function () {
                    body.remove(div);
                }
            });
        }
        function atualizarPaginacao(pagina, totalRegistros) {
            var infoPaginacaoInicio = document.querySelector("#span-infoPaginacaoInicio");
            var infoPaginacaoFim = document.querySelector("#span-infoPaginacaoFim");
            var infoTotalRegistros = document.querySelector("#span-infoTotalRegistros");
            var infoQuantidadeDePaginas = document.querySelector("#span-infoQuantidadeDePaginas");
            var quantidadePorPagina = parseInt(document.form1.quantidadePorPagina.value);
            var selectPaginas = document.querySelector("#pagina");

            let paginacaoInicio = 0;
            let paginacaoFim = 0;
            let quantidadeDePaginas = 0;

            // Assume que não sabemos a página atual
            if (totalRegistros == 0) {
                pagina = "";
            }

            // Se houver algum registro
            if (totalRegistros > 0) {
                // Se a página for vazia, assumimos pagina = 1
                if (pagina == "") {
                    pagina = 1;
                }

                // Pega a primeira página da seleção de páginas atual. EX: pag 2, 20 por página = (2 - 1) * 20 + 1 = 21. Logo, o primeiro da segunda página será o 21
                paginacaoInicio = ((pagina - 1) * quantidadePorPagina) + 1;

                // Na última página, se o total de registros for menor que o valor máximo na página, a paginacaoFim será o total de registros.
                if (pagina * quantidadePorPagina <= totalRegistros) {
                    paginacaoFim = pagina * quantidadePorPagina;
                } else {
                    paginacaoFim = totalRegistros;
                }

                // Calcula quantidade de páginas
                if (totalRegistros % quantidadePorPagina == 0) {
                    quantidadeDePaginas = parseInt(totalRegistros / quantidadePorPagina);
                } else {
                    quantidadeDePaginas = parseInt((totalRegistros / quantidadePorPagina) + 1);
                }
            }

            infoPaginacaoInicio.innerHTML = `<b>${paginacaoInicio}</b>`;
            infoPaginacaoFim.innerHTML = `<b>- ${paginacaoFim}</b>`;
            infoTotalRegistros.innerHTML = `<b>${totalRegistros}</b>`;
            infoQuantidadeDePaginas.innerHTML = quantidadeDePaginas;

            selectPaginas.innerHTML = "";

            for (var i = 1; i <= quantidadeDePaginas; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.textContent = i;
                selectPaginas.appendChild(option);
            }

            selectPaginas.value = pagina;

            atualizarBotoes(pagina, quantidadeDePaginas);
        }

        function atualizarBotoes(pagina, quantidadeDePaginas) {
            var btnPrimeiro = document.querySelector("#btn-paginacaoPrimeiro");
            var btnAnterior = document.querySelector("#btn-paginacaoAnterior");
            var btnProximo = document.querySelector("#btn-paginacaoProximo");
            var btnUltimo = document.querySelector("#btn-paginacaoUltimo");

            if (pagina == "") {
                btnProximo.disabled = true;
                btnUltimo.disabled = true;
                btnPrimeiro.disabled = true;
                btnAnterior.disabled = true;
            } else if (pagina == 1) {
                btnPrimeiro.disabled = true;
                btnAnterior.disabled = true;

                if (quantidadeDePaginas == 1) {
                    btnProximo.disabled = true;
                    btnUltimo.disabled = true;
                } else {
                    btnProximo.disabled = false;
                    btnUltimo.disabled = false;
                }
            } else if (pagina == quantidadeDePaginas) {
                btnProximo.disabled = true;
                btnUltimo.disabled = true;
                btnPrimeiro.disabled = false;
                btnAnterior.disabled = false;
            } else {
                btnProximo.disabled = false;
                btnUltimo.disabled = false;
                btnPrimeiro.disabled = false;
                btnAnterior.disabled = false;
            }
        }

        function mudarPagina(acao = null) {
            var pagina = parseInt(document.form1.pagina.value);

            if (acao) {
                switch (acao) {
                    case "PROXIMO":
                        pagina++;
                        break;
                    case "ANTERIOR":
                        pagina--;
                        break;
                    case "PRIMEIRO":
                        pagina = 1;
                        break;
                    case "ULTIMO":
                        pagina = parseInt(document.querySelector("#span-infoQuantidadeDePaginas").innerText);
                        break;
                }

                document.form1.pagina.value = pagina;
            }
            consultarItens();
        }

        function adicionaEventos() {
            // Evento de mudança de página presente nos botões e no select da página
            Array.from(form1.querySelectorAll(".js-mudarPagina")).forEach(function (item) {
                if (item.tagName.toLowerCase() == "select") {
                    item.addEventListener("change", () => mudarPagina());
                } else if (item.tagName.toLowerCase() == "button") {
                    item.addEventListener("click", () =>
                        mudarPagina(item.getAttribute("data-acao"))
                    );
                }
            });

            // Evento de mudança de quantidade de registros por página
            document.form1.querySelector("#quantidadePorPagina").addEventListener("change", () => {
                document.form1.pagina.value = 1;
                consultarItens();
            });

            // Adiciona debounce na pesquisa de registros
            document.form1.pesquisa.addEventListener('keyup', debounce(() => {
                document.form1.pagina.value = 1;
                consultarItens();
            }, 300));

            // Quando o botão filtrar for clicado, define isFiltered como true e consulta os itens.
            document.getElementById("filtrar").addEventListener("click", () => {
                document.form1.pagina.value = 1;
                isFiltered = true;
                consultarItens();
            });

            // Quando o botão limpar for clicado, define isFiltered como false e consulta os itens.
            document.getElementById("limpar").addEventListener("click", () => {
                document.form1.pagina.value = 1;
                document.form1.valorInicio.value = "";
                document.form1.valorFim.value = "";
                document.form1.pesquisa.value = "";
                isFiltered = false;
                consultarItens();
            });
        }
        function init() {
            consultarItens();
            adicionaEventos();
        }

        // Define tempo de delay ao pesquisar
        function debounce(callback, delay) {
            let timeout;
            return function () {
                clearTimeout(timeout);
                timeout = setTimeout(callback, delay);
            }
        }

        init();
    </script>
</body>